.scatterplot{
  position: relative;
  width: 100%;
  height: 400px !important;
  display: flex;
  flex-direction: column;
}
.tooltip {
  position: absolute;
  text-align: left;
  font-size:c14px;
  line-height: 17px;
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
  top: -20px;
}

.ui.selection.dropdown {
  min-width: 13.6em !important; 
  padding-left: 0.5em !important;
}

.ui.button {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}

.x-axis{
  position: absolute;
  bottom: 95vh;
  left:600px;
  margin-top: -10px;
}

.y-axis{
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: 50px;
  margin-left: -15px;
}

.continue_next{
  position: absolute;
  bottom: -375px !important;  
  right: 100px;
  /* margin-bottom: 20px !important; */
}

.select_axes{
  width:100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  line-height: 50px;
}

.select_axes button{
  position: relative;
  top: 30px;
}

.Good_button{
  background-color: #2ca02c94 !important;
}
.Fair_button{
  background-color: #ff7e0ec0 !important;
}
.Poor_button{
  background-color: #1f76b4b0 !important;
}

.ui.button.Good_button:hover {
  background-color: #2ca02ce5 !important;  
  border-width: 2px !important;  
  border-color: #000 !important;  
}

.ui.button.Fair_button:hover {
  background-color: #ff7e0ee9 !important;  
  border-width: 2px !important;  
  border-color: #000 !important;  
}

.ui.button.Poor_button:hover {
  background-color: #1f76b4f1 !important;  
  border-width: 2px !important;  
  border-color: #000 !important;  
}

.ui.button.reset_button:hover {
  background-color: #9da1a4f1 !important;  
  border-width: 2px !important;  
  border-color: #000 !important;  
}

.scatterplot_plot{
  margin-left: 120px !important;
  margin-right: auto;
}
.buttons{
  padding-top: 5px !important;
  padding-bottom: 0px !important;
  margin-top: 2px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.buttons button~button{
  margin-left: 20px !important;
}

.hover-container {
  position: relative;
}

.info-bar { 
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  width: 500px;
}

.hover-container:hover .info-bar {
  display: block;
}

.hover-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  background-color: #ccc;
  color: #fff;
}
button .active {
  border-color: black !important;
  border-width: 2px !important;
  opacity: 0.4 !important;
}