.scatterplot{
  position: relative;
  /* width: 100%;
  height: 400px !important; */
  display: flex;
  flex-direction: column;
  /* margin-bottom: -100px; */
}
.tooltip {
  position: absolute;
  text-align: left;
  font-size:c14px;
  line-height: 17px;
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  pointer-events: none;
  top: -20px;
}

.ui.selection.dropdown {
  min-width: 13.6em !important; 
  padding-left: 0.5em !important;
}

.ui.dropdown:not(.button)>.default.text {
  color: rgba(0,0,0,.87);
}

/* .ui.dropdown .menu>.item {
  font-size: 0.8rem !important;
} */

.ui.button {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}

.x-axis{
  position: absolute;
  top: 91vh;
  left: 50vw;
  /* bottom: -170px !important;
  left:600px; */
  /* margin-top: -10px; */
}

.y-axis{
  position: absolute;
  /* left: 1vw; */
  top: 40vh;
  /* margin-top: 50px;
  margin-left: -15px; */

}

.continue_next{
  position: absolute;
  top: 90vh;
  left: 90vw;
  /* bottom: -175px !important;
  right: 100px;
  margin-bottom: 10px !important; */
}

.select_axes{
  width:100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  line-height: 50px;
}

.select_axes button{
  position: relative;
  top: 30px;
}

.Bernedoodle_button{
  background-color: #2ca02c78 !important;
}
.ShihTzu_button{
  background-color: #ff7e0e77 !important;
}
.AmericanBulldog_button{
  background-color: #1f76b486 !important;
}

.ui.button.Bernedoodle_button:hover {
  background-color: #2ca02ce5 !important;  
  border-width: 2px !important;  
  border-color: #000 !important;  
}

.ui.button.ShihTzu_button:hover {
  background-color: #ff7e0ee9 !important;  
  border-width: 2px !important;  
  border-color: #000 !important;  
}

.ui.button.AmericanBulldog_button:hover {
  background-color: #1f76b4f1 !important;  
  border-width: 2px !important;  
  border-color: #000 !important;  
}

.ui.button.reset_button:hover {
  background-color: #9da1a4f1 !important;  
  border-width: 2px !important;  
  border-color: #000 !important;  
}

.Bernedoodle_button.active {
  background-color: #2ca02ce5 !important; 
}

.ShihTzu_button.active {
  background-color:  #ff7e0ee9 !important; 
}

.AmericanBulldog_button.active {
  background-color: #1f76b4f1 !important; 
}

.reset_button.active {
  background-color: #9da1a4f1 !important; 
}

.scatterplot_plot{
  padding-left: 70px;
  margin-right: auto;
}
.buttons{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  display: flex;
  justify-content: center;
}
.buttons button~button{
  margin-left: 20px !important;
}


.hover-container {
  position: relative;
  width:fit-content
}

.info-bar { 
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.hover-container:hover .info-bar {
  display: block;
}

.hover-trigger {
  cursor: pointer;
  /* display: inline-block; */
  padding: 5px 10px;
  background-color: #9b9595 !important;
  color: #fff;
  display: flex !important;
  width: fit-content;
}

button .active {
  border-color: black !important;
  border-width: 2px !important;
  opacity: 0.4 !important;
}

.section{
  position: fixed;
  width:500px;
  height: 200px;
  padding: 30px;
  background-color: rgba(255, 58, 58, 0.8);
  top: 0px;
  left: 400px;
}
.instruction{
  width: 600px;
  font-size: 20px;
  padding-bottom: 100px;
  text-align: center;
}
.tutorial_part{
  position: fixed;
  width: 20vw;
  font-weight: bold;
  background-color: rgba(172, 8, 8, 0.5);
  padding: 30px;
  right: 0;
}

.bold {
  font-weight: bold !important;
}